html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Architects Daughter', cursive;
}
body{
    background: #c1c1c1;
    background: -webkit-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: -o-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: -moz-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: linear-gradient(#c1c1c1, white, #c1c1c1);
}
a{
    color: #b10000;
    text-decoration: none;
}
    a:hover{
        text-decoration: underline;
    }
    a:visited{
        color: #b10000;
    }
body, html, #category, #category1,#sports, #places, #foods, #introPage, #introText, #introText p, #sp, #sp1, #singlePage #wordWrap, #wordWrap div, #restriction, #gamePage, #letterBank div, div, {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#introPage, #singlePage{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#introPage{
    display: block;
    height: 650px;
    width: 850px;
}
    #introText{
        width: 850px;
        height: 260px;
        margin: 10px auto;
    }
    #introText p{
        font-size: 40px;
        text-align: center;
        margin: 0 auto 20px auto;
    }
    #buttonContainer{
        width: 700px;
        height: 75px;
        margin: 50px auto;
    }
    #sp{
        font-size: 35px;
        width: 250px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        margin: auto;
        color: white;
        background-color: #00006c;
        border-radius: 25px;
        cursor: pointer;
    }
    #homeHangman, #hangman{
        display: block;
        margin: 50px auto 0 auto;
        border: 1px solid black;
    }
#singlePage{
    display: none;
    height: 560px;
    width: 845px;
}
    #singlePage p{
        font-size: 40px;
        margin: 0px auto 40px auto;
        text-align: center;
    }
    #categoryHolder{
        width: 100%;
        height: 335px;
    }    
    #category{
        width: 700px;
        height: 335px;
        margin: 0 auto;
    }    
    #category1{
        float: left; 
        width: 700px;
        height: 150px;
    }
    #sports, #places, #foods{
        float: left;
        width: 1/3;
        height: 100%;
        font-size: 70px;
        line-height: 150px;
        text-align: center;
        border: 1px solid black;
        cursor: pointer;
    }
    #sports{
        background: #000081;
        background: -webkit-linear-gradient(left, #000081, white);
        background: -o-linear-gradient(left, #000081, white);
        background: -moz-linear-gradient(left, #000081, white);
        background: linear-gradient(to right, #000081, white);
    }
    #places{
        background: #147b14;
        background: -webkit-linear-gradient(left, white, #147b14);
        background: -o-linear-gradient(right, white, #147b14);
        background: -moz-linear-gradient(right, white, #147b14);
        background: linear-gradient(to right, white, #147b14);
    }
    #foods{
        background: #bc7a00;
        background: -webkit-linear-gradient(left, #bc7a00, white);
        background: -o-linear-gradient(left, #bc7a00, white);
        background: -moz-linear-gradient(left, #bc7a00, white);
        background: linear-gradient(to right, #bc7a00, white);
    }
    #wordInput{
        width: 845px;
        height: 350px;
        margin: 0px auto;
    }
    #input{
        font-family: sans-serif;
        display: block;
        margin: 0px auto;
        padding: 10px;
        font-size: 25px;
    }
    #restriction{
        font-family: sans-serif;
        float: right;
        position: relative;
        right: 175px;
        bottom: 22px;
        font-size: 15px;
    }
    #characterCount{
        width: 580px;
        height: 35px;
        margin: 21px auto 0 auto;
        font-size: 25px;
    }
    #charContain{
        margin: 0;
        float: left;
    }
    #submit{
        font-size: 35px;
        width: 200px;
        height: 35px;
        float: right;
        line-height: 35px;
        text-align: center;
        color: white;
        background-color: #00b100;
        border-radius: 25px;
        cursor: pointer;
    }
#gamePage{
    display: none;
    text-align: center;
}
    #categoryName{
        width: 100%;
        margin: 20px auto 0px auto;
        font-size: 75px;
    }    
    #wordWrap{
        display: inline-block;
        width: 830px;
        margin: 0 auto;
        padding: 10px;
    }
    #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10, #letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19, #letter20, #letter21, #letter22, #letter23, #letter24, #letter25{
        font-family: 'Gloria Hallelujah', cursive;
        width: 50px;
        height: 60px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 50px;
        line-height: 60px;
    }
    #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10, #underline11, #underline12, #underline13, #underline14, #underline15, #underline16, #underline17, #underline18, #underline19, #underline20, #underline21, #underline22, #underline23, #underline24, #underline25{
        display: none;
        float: left;
        width: 50px;
        height: 60px;
        margin-right: 5px;
    }
    #letterBank {
        width: 780px;
        height: 125px;
        margin: 20px auto;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        -webkit-user-select: none;        
        -moz-user-select: none;
        -ms-user-select: none;
    }
    #letterBank div{
        float: left;
        width: 50px;
        height: 58px;
        margin: 0px 10px 10px 0px;
        cursor: pointer;
        background-color: #adadad;
    }
    #letterBank div:hover{
        background-color: #797979;
    }
    #letterBank div:active{
        background-color: gray;
        width: 50px;
        font-size: 45px;
        padding-top: 3px;
    }
    #results{
        margin-top: 5px;
        height: 70px;
        visibility: hidden;
        line-height: 70px;
    }
    #again, #home, #home1{
        display: none;
        width: 50%;
        height: 65px;
        margin: 0px auto 20px auto;
        font-size: 35px;
        line-height: 65px;
        text-align: center;
        color: white;
        background-color: #00006c;
        border-radius: 25px;
        cursor: pointer;
    }
    #home{
        margin-top: 0px;
    }
    #home1{
        margin-top: 32px;
    }

@media (max-width: 866px){
    #introPage, #singlePage{
        width: 500px;
        height: 500px;
    }
        #introText{
            width: 500px;
            height: 85px;
        }
        #introText p{
            font-size: 25px;
            margin: 10px auto;
        }
        #buttonContainer{
            width: 500px;
            height: 60px;
            margin: 20px auto;
        }
        #sp{
            font-size: 25px;
            width: 175px;
            height: 60px;
            line-height: 60px;
        }
        #homeHangman{
            margin: 100px auto 0 auto;
        }
    #singlePage{
        height: 345px;
    }
        #singlePage p{
            font-size: 30px;
            margin: 0px auto 20px auto;
        }
        #categoryHolder{
            height: 180px;
        }    
        #category{
            width: 100%;
            height: 180px;
        }    
        #category1{
            width: 100%;
            height: 80px;
        }
        #category1{
            margin-bottom: 20px;
        }
        #sports, #places, #foods{
            font-size: 35px;
            line-height: 80px;
        }
        #wordInput{
            height: 250px;
            width: 100%;
        }
        #input{
            font-size: 20px;
        }
        #restriction{
            right: 50px;
            bottom: 18px;
            font-size: 12px;
        }
        #characterCount{
            width: 500px;
            height: 30px;
            margin: 15px auto 0 auto;
            font-size: 20px;
        }
        #submit{
            font-size: 25px;
            width: 130px;
            height: 30px;
            line-height: 30px;
        }
    #gamePage{
    }
        #categoryName{
            margin: 0 auto;
            font-size: 30px;
        }    
        #wordWrap{
            display: inline-block;
            width: 470px;
            margin: 0 auto;
            padding: 0px;
        }
        #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10, #letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19, #letter20, #letter21, #letter22, #letter23, #letter24, #letter25{
            width: 28px;
            height: 45px;
            font-size: 30px;
            line-height: 45px;
        }
        #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10, #underline11, #underline12, #underline13, #underline14, #underline15, #underline16, #underline17, #underline18, #underline19, #underline20, #underline21, #underline22, #underline23, #underline24, #underline25{
            width: 28px;
            height: 45px;
            margin-right: 3px;
        }
        #hangman{
            margin: 20px auto 0 auto;
        }
        #letterBank{
            width: 430px;
            height: 145px;
            margin: 10px auto;
            font-size: 35px;
            line-height: 45px;
        }
        #letterBank div{
            width: 44px;
            height: 44px;
            margin: 0px 3.5px 5px 0px;
        }
        #letterBank div:active{
            width: 44px;
            font-size: 27px;
            padding-top: 0px;
            padding-bottom: 3px;
        }
        #results{
            margin-top: 5px;
            height: 50px;
            visibility: hidden;
            line-height: 70px;
        }
        #again, #home, #home1{
            display: none;
            width: 50%;
            height: 65px;
            margin: 20px auto 20px auto;
            font-size: 35px;
            line-height: 65px;
            text-align: center;
            color: white;
            background-color: #00006c;
            border-radius: 25px;
            cursor: pointer;
        }
        #home{
            margin-top: 0px;
        }

@media (max-width: 500px){
    #introPage, #singlePage{
        height: 100%;
        width: 100%;
        min-width: 365px;
    }
    #introPage{
    }
        #introText{
            width: 100%;
        }
        #introText p{
            font-size: 18px;
        }
        #buttonContainer{
            width: 90%;
            height: 50px;
        }
        #sp{
            font-size: 20px;
            width: 140px;
            height: 50px;
            line-height: 50px;
        }
        #homeHangman{
            margin: 70px auto 0 auto;
        }
    #singlePage{
        height: 320px;
    }
        #categoryHolder{
            margin: 0 auto;
            width: 90%;
            height: 180px;
        }  
        #singlePage p{
            font-size: 25px;
        }
        #input{
            padding: 5px;
            font-size: 15px;
        }
        #restriction{
            right: 85px;
            bottom: 15px;
            font-size: 10px;
        }
        #characterCount{
            width: 90%;
            height: 25px;
            font-size: 15px;
        }
        #submit{
            font-size: 20px;
            width: 150px;
            height: 25px;
            line-height: 25px;
        }
    #gamePage{
        min-width: 365px;
    }
        #categoryName{
            font-size: 30px;
        }    
        #wordWrap{
            width: 320px;
            margin-top: 10px;
            padding: 0px;
        }
        #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10, #letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19, #letter20, #letter21, #letter22, #letter23, #letter24, #letter25{
            width: 18px;
            height: 30px;
            margin-bottom: 15px;
            text-align: center;
            font-size: 18px;
            line-height: 30px;
        }
        #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10, #underline11, #underline12, #underline13, #underline14, #underline15, #underline16, #underline17, #underline18, #underline19, #underline20, #underline21, #underline22, #underline23, #underline24, #underline25{
            width: 18px;
            height: 30px;
            margin-right: 3px;
        }
        #letterBank{
            width: 310px;
            height: 170px;
            font-size: 30px;
            line-height: 40px;
        }
        #letterBank div{
            width: 41px;
            height: 40px;
            margin: 0px 3px 3px 0px;
        }
        #letterBank div:active{
            width: 41px;
            font-size: 25px;
            padding-top: 0px;
            padding-bottom: 3px;
        }
        #results{
            margin-top: 5px;
            height: 40px;
        }
        #again, #home, #home1{
            width: 250px;
            height: 45px;
            margin: 10px auto;
            font-size: 26px;
            line-height: 45px;
        }
}

@media (max-width: 450px){
    #restriction{
        right: 60px;
        bottom: 15px;
        font-size: 10px;
    }
}